modules = ["python-3.12"]
run = "pip install python-telegram-bot==21.3 apscheduler"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install python-telegram-bot==21.3 apscheduler"]
